/* WELCOME - uvodni cast */
#welcomeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    
    background-color: #1a1a1a;
    flex-direction: column;
}

h2 {
    font-family: var(--fontUniversal);
    font-size: 5em;
    border: none;
    background: none;
    color: #00d1b2;
}

#welcomeBtn {
    font-family: var(--fontUniversal);
    font-size: 5em;
    border: none;
    background: none;
    /* text-transform: uppercase; */


    cursor: pointer;
    transition: color 0.3s ease;

    color: #0dedcc;
}

#welcomeBtn:hover {
    color: #ff007f;
}