/* opravit pozdeji cursor na strileci - zatim crosshair */
#shotImage {
    width: 100px; 
    height: auto; 
    background-color: transparent;
    cursor: crosshair;
}
p {
    font-size: 4em;
    list-style-type: none;
}


