/* celek tabulky */
/* display: flex; /* Flexbox pro zarovnání obsahu */
/* flex-direction: column; Obsah pod sebou */
/* align-items: center; Horizontální zarovnání */
/* justify-content: space-between; Rovnoměrné rozložení obsahu vertikálně */
/* box-sizing: border-box; Zahrnout padding do rozměrů */
/* overflow: hidden; Skryje přetékající obsah */ 

/* SPOLECNE PRO HLAVNI OBSAH */
#visualChartPixel,
#visualChartPostApo {
    text-shadow: var(--textShadow);
    text-transform: uppercase;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 8px;

    width: 650px; 
    height: 500px; 
}

#visualChartPixel {
    font-family: var(--fontFamily_Pixel);
    color: var(--colorFont_Box);
    background: var(--colorPurple_box);

    padding: 10px;
    border: 3px solid #ff9e6f;
}

#visualChartPostApo {
    font-family: var(--fontFamily_PostApo);
    color: var(--colorFont_Box);
    background: var(--colorGray_box);
    padding: 20px;
    border: 4px solid #04350670;
    cursor: var(--cursorPixelGame); 

}

/* nadpis */
#visualChartPixel h4,
#visualChartPostApo h4 {
    margin-top: -5px;
    letter-spacing: 2px;
    text-decoration: underline;  
}

#visualChartPixel h4 {
    font-size: 2.5em;     
}

#visualChartPostApo h4 {
    font-size: 2em;     
}



/* IMG K ZAPAMATOVANI */
/* class, ktera je pridana ve fci "displayImagesSequentially" */
.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* velikost img */
.memory-gridPX img {
	width: 60px;
	height: auto;
}

.memory-gridPA img {
    width: 50px;
    height: auto;
}

/* cela cast pro TIME: */
.image-wrapper p {
    margin: 5px 0 0;
    font-size: 1.2em;
    text-shadow: var(--textShadow);
    text-transform: uppercase;
    color:var(--colorFont_Box);
}

/* pridane obrazky nastaveni */
.memory-gridPX,
.memory-gridPA {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-items: center; 
    align-items: center; 
}

.memory-gridPX {
    padding-top: 10px;
    gap: 3px; 
}

/* ODPOCET k zapamtovani TIME */
.timeRememberPX, 
.timeRememberPA {
    position: absolute;
    left: 5px;
    margin-left: 5px;
}

.timeRememberPX {
    top: 30px;  
    font-size: 1.7em;
}

.timeRememberPA {
    top: 20px;  
    font-size: 1.3em;  
}



/* CISLOVKA vedle Time */
.timeRememberSpanPX {
    color: var(--colorPumpkin);
    font-size: 2em;
    top: 12px;
}

.timeRememberSpanPA {
    color: var(--colorYellow_boxPA);
    font-size: 2.4em;
}

/* BUTTON */
#startGamePX, 
#startGamePA {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    color: var(--colorFont_Box);
    border-radius: 8px;      
    text-transform: uppercase;
    padding: 10px 20px;
    text-shadow: var(--textShadow);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease; 
}

#startGamePX {
    background-color: var(--colorPumpkin); 
    border: 3px solid #ff9e6f; 
    font-family: var(--fontFamily_Pixel);
    font-size: 1.6em;   
    cursor: url(../images/pixelGame/cursorHand.png), auto;      
}

#startGamePA {
    background-color: var(--colorYellow_boxPA); 
    border: 3px solid #04350670;
    font-family: var(--fontFamily_PostApo);
    font-size: 1.4em;
    cursor: var(--cursorPixelGame); 

}

/* HOOVER button */
#startGamePX:hover, 
#startGamePA:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -2px); 
}

#startGamePX:hover {
    background-color: #ff9e6f; 
}

#startGamePA:hover {
    background-color: #04350670; 
}

/* ACTIVE button */
#startGamePX:active,
#startGamePA:active { 
    transform: translate(-50%, 2px);  
}

#startGamePX:active {
    background-color: #ff6f3f; 
}

#startGamePA:active {
    background-color: #57c25b70;
}












