#gameArea {
  position: relative;
  width: 100%;
  height: 100vh;
}

#shotImage {
  position: absolute;
  cursor: pointer;
  width: 50px; /* Velikost obrázku */
  height: 50px; /* Velikost obrázku */
  transition: all 0.3s ease;
}

.show {
  opacity: 1;
}

#shotImage.hide {
  opacity: 0;
}



/* opravit pozdeji cursor na strileci - zatim crosshair */
#shotImage {
    width: 100px; 
    height: auto; 
    background-color: transparent;
    cursor: crosshair;
    
    display: flex;
    

    border: 2px solid black;
}

.show {
  opacity: .8;
}

/* pozdeji smazat jen pro ukazku velka 0 */
p {
    font-size: 4em;
    list-style-type: none;
}

/* score, zivot, cas, pocet sestreleni- bude se odecitat-udelat pozdeji */
.header-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
  }

  .info-item {
    margin-right: 30px;
  }


