/* nastaveni stranky */
section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* HORNÍ PANEL */
header {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100px; 
    width: 100%;
}

.header-info {
    display: flex;
    justify-content: center; /* na stred */
    align-items: center; /* vertikálni zarovnani */
    gap: 20px; /* mezera mezi polozkami */
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.header-info li {
    justify-content: center; /* na stred */
    margin-top: 40px;
}

/* PLAYER */



/* button jako img */
.image-buttonPX {
    background: none; 
    border: none; 
    padding: 0; 
  }
  
  .image-buttonPX img {
    margin-top: 16px;
    width: 65px;
    height: auto;
    display: block; 
  }
  
.image-buttonPX:hover img {
    transform: scale(1.1); 
    transition: transform 0.2s; 
}


.image-buttonPA {
    cursor: url(../images/postApoGame/curPA.png), auto;
    background: none; 
    border: none; 
    padding: 0; 
  }
  
  .image-buttonPA img {
    margin-top: 25px;
    width: 68px;
    height: auto;
    display: block; 
  }
  
.image-buttonPA:hover img {
    transform: scale(1.1); 
    transition: transform 0.2s; 
}

/* ROZDELENI DLE HERNIHO PROSTREDI */

/* HERNÍ OBLAST */
div#gameArea {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* game PostApo */
#gamePostApo {
    background-image: var(--BG_PostApoGame);
    font-family: var(--fontFamily_PostApo);
    display: flex;
    flex-direction: column; 
    cursor: url(../images/postApoGame/curPA.png), auto;
    
}

#gamePostApo li {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    font-size: 1.5em;
    background: linear-gradient(45deg, #B8860B, #FFD700, #DAA520); /* Zlaty efekt */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8), 0 0 10px #FFD700;
    text-align: center;
}

/* game pixel */
#gamePixel {
    background-image: url(../images/pixelGame/bg1.png); /* zmenit na promennou/ 
    upravit horniprostor  */
    font-family: var(--fontFamily_Pixel);
    display: flex;
    flex-direction: column; 
}



/* upravit PostApo nekde se mele */
.playerPA {
    color: rebeccapurple;
}

#gamePixel li {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    color: #e6cce6; /* upravit finalni text */
    text-shadow: var(--textShadow_PixelGame);

    text-transform: uppercase;
    /* background: linear-gradient(45deg, #9400D3, #DDA0DD, #8A2BE2); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: center; /* Zarovnání */
    text-transform: uppercase;
}


/* RESPO DIZAJN */
@media (max-width: 768px) {
    header {
        height: auto;
        padding: 10px;
    }

    .header-info {
        gap: 10px;
    }

    .info-item {
        font-size: 1.2em;
    }

    div#gameArea {
        padding: 10px;
    }
}


