body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(/IMAGE/pozadi.png);
    background-size: cover;
    background-position: center;
}
#startGame {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(208, 94, 94);
    text-shadow: 3px 3px 5px rgb(128, 4, 4);
    text-transform: uppercase;
    font-size: 7em;
    background: none;
    border: none;
    cursor: pointer;
    /* transition: color 0.3s, transform 0.2s ease;  */
} 

/* #starGame:hover {
    color: #0056b3;             
    transform: scale(1.1);
} */

/* #starGame:active {
    color: #003366;              
    transform: scale(1);
} */

/* #welcomeTitle {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 3px 3px 5px rgba(143, 13, 13, 0.7);
    text-transform: uppercase;
    font-size: 9em;
    cursor: col-resize;
}  */


