* {
    box-sizing: border-box;
}
html {
    cursor: url(/image/cursor.png), crosshair;
}

/* obecne */
body {
    background-image: url(/image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    overflow: hidden;

}

/* horni panel */
.header-info {
    color:var(--infoItemColor);
    text-shadow: 2px 2px 4px rgba(239, 228, 228, 0.5);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;

    list-style-type: none;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    gap: 18%;
    justify-content: center;
    align-items: center;

    background: rgba(221, 197, 197, 0.338);
}

/* #hit,
#score,
#time {
    font-size: 1.8em;
    top: 6px;
    position: relative;
} */

/* herni plocha */
#gameArea {
    width: 95%;
    height: 90%;
    margin: 20px auto;
    border: 5px solid;
}

.gamePicture {
    width: 10%;
    height: auto;
    max-width: 91px;
}






















