@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}





body {
    background-image: url(/image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;

    /* align-items: center;
    justify-content: center; */

    text-align: center;
    margin: 0;
    overflow: hidden;
}

#startGame:hover,
#startGame:focus {
    transition: .2s;
    
    color: rgb(187, 1, 32);   
}

#startGame {
    text-align: center;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(208, 94, 94);
    text-shadow: 3px 3px 5px rgb(128, 4, 4);
    text-transform: uppercase;
    font-size: 7em;
    background: none;
    border: none;
    cursor: pointer;
   

    align-items: center;
    justify-content: center;
}

#countDownStart {
    text-align: center;
    margin:0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 7em;
    background: none;
    border: none;
    cursor: pointer;

}










