:root {
    --infoItemColor: rgb(109, 5, 5);
    --colorBG-Universal:#1a1a1a;
    --colorFont:#00d1b2;
    --highlightColor: #ff007f;


    --fontFamilyStylePixel:'VT323', monospace;
    --fontUniversal:'orbitron', monospace;

    --BG_PixelGame:url(../images/pixelGame/bg-pixel.png);
    --BG_PostApoGame:url(../images/postApoGame/bg-postApo.png);
}



