:root {
    --infoItemColor: rgb(109, 5, 5);
    --colorBG-Universal:#1a1a1a;
    --highlightColor: #ff007f;

    --fontFamilyStylePixel:'VT323', monospace;
    --fontUniversal:'orbitron', monospace;


}

