@font-face {
    font-family: 'Destroyed Font';
    src: url('../fonts/Broken-Detroit.ttf') format('truetype');
}


:root {
    --colorBG-Universal:#1a1a1a;
    --colorFont:#00d1b2;
    --highlightColor: #ff007f;


    --fontFamily_Pixel:'VT323', monospace;
    --fontFamily_PostApo:'Destroyed Font', monospace;

    --cursorPostApoGame: url(../images/postApoGame/curPA.png), auto;
    --cursorPixelGame: url(../images/pixelGame/cur6.png), auto;
    
    
    --fontUniversal:'orbitron', monospace;

    --BG_PixelGame:url(../images/pixelGame/bg5.png);
    --BG_PostApoGame:url(../images/postApoGame/bg-postApo.png);
    /* --BG_PostApoGame:url(../images/postApoGame/bg-postApo.png); */


    --textShadow: 2px 2px 0px #000000;
    --colorPurple_box: #C084FC;
    --colorGray_box: #5C6E76;
    --colorFont_Box: #F5F5DC;
    --colorPumpkin: #e9c808;
    --colorYellow_boxPA: #c6ad1a;


}



